# ==============================================================================
# Configuration des variables d'environnement (Arguments au Run)
# Architecture Docker Cloud
# ==============================================================================

# Ports exposes sur la machine hote
FRONT_HOST_PORT=8080
BACK_HOST_PORT=8081
GAME_HOST_PORT=8082

# Configuration Applicative
ENVIRONMENT=production
LOG_LEVEL=INFO
GAME_NAME=PixelQuest_Cloud_M1
MAX_PLAYERS=32
DIFFICULTY=hard

# Limitations de ressources (Contraintes Compose / Cgroups)
# Front-End
FRONT_CPU_LIMIT=0.25
FRONT_MEM_LIMIT=64M
FRONT_MEM_RESERVATION=32M

# Back-End API
BACK_CPU_LIMIT=0.50
BACK_MEM_LIMIT=128M
BACK_MEM_RESERVATION=64M

# Serveur Web / Serveur de Jeu
GAME_CPU_LIMIT=0.50
GAME_MEM_LIMIT=128M
GAME_MEM_RESERVATION=64M
